
useDynLib(qtbase, .registration = TRUE)

# timer
export(qtimer)

# metadata
export(qnormalizedSignature, qproperties)

# signals
export(qconnect)

# invoke
export(qinvoke)

# properties
export(qproperty, "qproperty<-")

# constructors of simple types
export(qrect, qpoint, qsize, qcolor, qfont, qmatrix)

S3method(qmatrix, NULL)
S3method(qmatrix, matrix)

# smoke library
S3method(print, RQtLibrary)

# classes
S3method("$", RQtClass)
S3method(print, RQtClass)
S3method(print, QWidget) ## calls $show()
export(qmethods, qsetClass, qsetMethod)

# enums
S3method("|", QtEnum)
S3method("&", QtEnum)

# the Qt smoke library
export(Qt)

## convenience for stylesheet manipulation
export(qsetStyleSheet, qstyleSheet)

## label for testing
export(testLabel)

