
useDynLib(qtbase, .registration = TRUE)

export(qsetStyleSheet, qstyleSheet)

export(".u_tryEval", ".u_eval", ".u_lastValue")

export(testLabel)

export(qfont)

# timer
export(qtimer)

# metadata
export(qmethods, qnormalizedSignature, qproperties)
S3method("$", QObject)
S3method("$<-", QObject)

# signals
export(qconnect, qdisconnect)

# invoke
export(qinvoke)

# properties
export(qproperty, "qproperty<-")
