
useDynLib(libsmokeqt)
useDynLib(qtbase, .registration = TRUE)


export(qsetStyleSheet, qstyleSheet)

export(".u_tryEval", ".u_eval", ".u_lastValue")

export(testLabel)

# timer
export(qtimer)

# metadata
export(qnormalizedSignature, qproperties)
##S3method("$", QObject)
##S3method("$<-", QObject)
S3method(names, QObject)

# signals
export(qconnect, qdisconnect)

# invoke
export(qinvoke)

# properties
export(qproperty, "qproperty<-")

# constructors of simple types
export(qrect, qpoint, qsize, qcolor, qfont)

# smoke library
S3method(print, RQtLibrary)

# classes
S3method("$", RQtClass)
S3method(print, RQtClass)
export(qmethods, qsetClass)

# the Qt smoke library
export(Qt)
